header {
  background-color: var(--red-light);
  padding: 0;
  border-bottom: 1px solid var(--red);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 4rem;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  color: var(--red);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list-item > a {
  color: var(--red);
  display: flex;
  align-items: center;
}

.nav-list-item > a:hover {
  font-weight: bolder;
}

.cart-count {
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  margin-left: 0.5rem;
}
