.food-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.food-container > * {
  min-width: 25rem;
  max-width: 40rem;
}

img {
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 30rem;
  margin: 1rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 2rem;
  margin-left: 1rem;
  color: black;
}

.stars-container {
  margin: 0.25rem 0;
  display: flex;
  justify-content: flex-start;
}

.details .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details .name {
  font-size: 2rem;
  font-weight: bold;
}

.details .favorite {
  color: var(--red);
  font-size: 2.5rem;
}

.details .favorite.not {
  color: var(--gray);
}

.details .origins {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.details .origins > span {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  background-color: var(--light-gray);
  border-radius: 2rem;
}

.details .cook-time {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.details .cook-time span {
  color: var(--gray);
}

.details .price {
  font-size: 1.8rem;
  color: var(--red);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.details .price::before {
  content: "Price: ";
  color: var(--gray);
}

.details button {
  color: var(--white);
  background-color: var(--red);
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.details button:hover {
  opacity: 0.9;
}
