<app-not-found
  [visible]="!food"
  notFoundMessage="Food not found!"
  resetLinkText="Go to home page"
></app-not-found>
<div *ngIf="food" class="food-container">
  <img [src]="food.imageUrl" [alt]="food.name" />
  <div class="details">
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>
      <span class="favorite {{ food.favorite ? '' : 'not' }}">❤</span>
    </div>
    <div class="stars-container">
      <star-rating
        [starType]="'svg'"
        [rating]="food.stars"
        [readOnly]="true"
        [showHalfStars]="true"
      ></star-rating>
    </div>
    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{ origin }}
      </span>
    </div>
    <div class="tag">
      <app-tags
        [foodPageTags]="food.tags!"
        justifyContent="flex-start"
      ></app-tags>
    </div>
    <div class="cook-time">
      <span>
        Time to cook about <strong>{{ food.cookTime }}</strong> Minutes
      </span>
    </div>
    <div class="price">
      <span> {{ food.price | currency }} </span>
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>
