div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div a {
  background-color: var(--light-gray);
  color: var(--gray);
  font-size: 0.85rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  padding: 0.1rem 0.5rem;
}

div a.active,
div a:hover {
  background-color: var(--red-light);
  color: var(--red);
}
